node_modules/
.env
.env.local
.env.*.local
dist/
build/
.next/
out/
.expo/
.expo-shared/
ios/
android/
*.log
.DS_Store
.turbo/
coverage/
*.tsbuildinfo
.vscode/
.idea/
.cache/
.tmp/
*.pid
.pm2/
.omc/
**/.omc/
./keys/keys/revenuecat-key.json
gkey.json